<launch>

  <include file="$(find AquilaUAV_ros)/launch/rs_triple_d435_case.launch"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_triple_camera_to_camera_link_broadcaster" args="0.0 0.0 0.0 0.0 0.0 0.0 camera_link triple_camera_link" />

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch" >
    <arg name="rtabmap_args" value="--delete_db_on_start --Optimizer/GravitySigma 0.3"/>
    <arg name="depth_topic" value="/d435_front/depth/image_rect_raw"/>
    <arg name="rgb_topic" value="/d435_front/infra1/image_rect_raw"/>
    <arg name="camera_info_topic" value="/d435_front/infra1/camera_info"/>
    <arg name="approx_sync" value="False"/>
  </include>

  <node name="dynamic_reconfigure_node" pkg="dynamic_reconfigure" type="dynparam" args="set /d435_front/stereo_module/ emitter_enabled 0"/>

</launch>
